;;; Configuration for LIFT tests

;; Settings
(:print-length          10)
(:print-level           5)
(:print-test-case-names t)

;; Suites to run
(xml.location.test:root)

;; Report properties
(:report-property :title "xml.location | Test Results")
(:report-property :relative-to xml.location-test)

(:report-property :format        :html)
(:report-property :full-pathname "doc/test-report")
(:report-property :if-exists     :supersede)
(:report-property :style-sheet   "test-style.css")
(:build-report)

(:report-property :format        :junit)
(:report-property :full-pathname "doc/test-results.xml")
(:report-property :if-exists     :supersede)
(:build-report)

(:report-property :format        :describe)
(:report-property :full-pathname *standard-output*)
(:build-report)
